:root {
    --yellow: rgba(244, 208, 78, 1);
    --grey-950: rgba(17, 17, 17, 1);
    --grey-500: rgba(107, 107, 107, 1);
    --white: #fff;

    --spacing-50: 0.25rem;
    --spacing-100: 0.50rem;
    --spacing-150: 0.75rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;

    --font-S: 500 0.75rem / 150% 'Figtree', sans-serif;
    --font-S-Bold: 800 0.75rem / 150% 'Figtree', sans-serif;
    --font-M: 500 0.875rem / 150% 'Figtree', sans-serif;
    --font-M-Bold: 800 0.875rem / 150% 'Figtree', sans-serif;
    --font-L: 500 1rem / 150% 'Figtree', sans-serif;
    --font-L-Bold: 800 1rem / 150% 'Figtree', sans-serif;
    --font-XL-Bold: 800 1.25rem / 150% 'Figtree', sans-serif;
    --font-XXL-Bold: 800 1.5rem / 150% 'Figtree', sans-serif;

}

@font-face {
    font-family: 'Figtree';
    src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    display: block;
}

/* ------- main ------- */
.container {
    background: var(--yellow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 9.75rem 1.5rem 9.69rem;

    .inner-wrapper {

        button {
            background: var(--white);
            font: var(--font-M-Bold);
            /* position: absolute;
            top: -50px; */
            margin-bottom: var(--spacing-100);
            margin-left: 1rem;
            padding: var(--spacing-100) var(--spacing-200);
            border: 2px solid var(--grey-950);
            border-radius: .25rem;
            cursor: pointer;
            transition: all .3s ease-in-out;
        }
        button:hover {
            transform: translateY(3px);
            box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px 5px;
        }
    
        .card {
            background: var(--white);
            box-shadow: 8px 8px 0px 0px #000;
            max-width: 24rem;
            padding: var(--spacing-200) var(--spacing-300);
            border: 1px solid var(--grey-950);
            border-radius: 1.25rem;
    
            position: relative;
    
            .img-wrapper {
    
                img {
                    border-radius: 0.625rem;
                    filter: grayscale(100%);
                }
            }
    
            .main-text-wrapper {
                display: flex;
                flex-direction: column;
                gap: var(--spacing-150);
                margin-top: var(--spacing-200);
    
                h1 {
                    color: var(--grey-950);
                    background: var(--yellow);
                    font: var(--font-M-Bold);
                    width: fit-content;
                    padding: var(--spacing-50, 0.25rem) var(--spacing-150, 0.75rem);
                    border-radius: var(--spacing-50);

                    transition: transform .2s ease-in-out;
                }
                h1:hover {
                    transform: scale(1.10);
                    cursor: pointer;
                }
    
                .published-date {
                    color: var(--grey-950);
                    font: var(--font-S);
                }
    
                h2 {
                    color: var(--grey-950);
                    font: var(--font-XL-Bold);
                    transition: color .2s ease-in-out;
                }
                h2:hover {
                    color: var(--yellow);
                    cursor: pointer;
                }
    
                .main-text {
                    color: var(--grey-500);
                    font: var(--font-M);
                }
            }
    
            .author-wrapper {
                display: flex;
                align-items: center;
                gap: var(--spacing-150);
                margin-top: var(--spacing-200);
    
                img {
                    width: 2rem;
                    height: 2rem;
                    transition: transform .2s ease-in-out;
                }
                img:hover {
                    transform: scale(1.20);
                }
    
                h3 {
                    color: var(--grey-950);
                    font: var(--font-M-Bold);
                }
            }
        }
    }

    
}


/* ------- footer ------- */

.attribution { 
    position: absolute;
    bottom: -40px;
    left: 12%;
    font-size: .75rem;
    text-align: center; 
}
.attribution a { 
    color: rgb(1, 47, 177, 1);
    font-weight: 600;
    position: relative;
    text-decoration: none;
    z-index: 1;
    transition: color 0.5s ease-in-out;
}
.attribution a::before {
    background: var(--grey-950);
    content: "";
    inset: 0;
    position: absolute;
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}
.attribution a:hover {
    color: var(--yellow);
}
.attribution a:hover::before {
    /* Can change scaleY to scaleX for different effect, along with changing origin*/
    transform: scaleY(1);
    transform-origin: bottom;
}

/* ------- media queries ------- */

/* 768px = 48rem */
@media (width > 48rem) {
    .container {

        .inner-wrapper {

            .card {

                .main-text-wrapper {

                    h1 {
                        font: var(--font-L-Bold);
                    }

                    .published-date {
                        font: var(--font-M);
                    }

                    h2 {
                        font: var(--font-XXL-Bold);
                    }

                    .main-text {
                        font: var(--font-L);
                    }
                }
            }
        }
    }
}